body{
	padding-top:5%;
	text-align: center;
	font-family:"Helvetica";
	font-size: 2em;
}

#title{
	width: 40%;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

h2{

	text-decoration:none;
}


#phys-demos{
	font-size: 34px;
}

#by{
	font-size: 24px;

}
#p5-link{
	color: #ff0066;
}

#name-link{
	color: #009999;
	font-size: 26px;
}

#github-link{
	color: #5900b3;
}

.sketch-link{
	font-size: 36px;
}
.sketch-link:hover{
	color: red;
}

footer{
	padding-top: 35%;
}