/* All devices */

html	{
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: #fff;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
	font-family:"Times New Roman";
}

*,	*:before,	*:after {
	box-sizing: inherit;
}

body	{
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #fff;
	height: 100%;
}

a	{
	text-decoration: none;
	color: black;
}


#container {
	position:relative; /* needed for footer positioning*/
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
}

#title	{
	margin: 0 auto;
	padding-top: none;
	color: #000;
}

#physical-principles {
	text-transform: uppercase;
}

#p5-link	{
	color: #ff0066;
	font-family: "Helvetica";
	font-weight: 800;
}

#content {
	margin: 0 auto;
}

.sketch-link	{
	border-top: 1px solid #222;
	border-right: 1px solid #222;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#bottom-space {
	position: relative;
	width: 100%;
	min-height: 100px;
}

#footer	{
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer-content	{
	display:inline-block;
}

.footer-link	{
	width: 20%;
	font-style: italic;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	#header {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	#bottom-space {
		height: 2em;
	}

	#footer {
		padding-bottom: 1.5em;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
	#header {
		padding-top: 2.5em;
		padding-bottom: 1em;
	}

	#content {
		width: 90%;
	}

	#bottom-space {
		height: 2em;
	}

	#footer {
		padding-bottom: 1.5em;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 375px) {
/* Styles */
	#header {
		padding-top: 1.5em;
		padding-bottom: 0em;
		width: 48%;
		margin: 0 auto;
	}

	#bottom-space {
		height: 6em;
	}

	#footer {
		padding-bottom: 1.5em;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
	#in {
		font-size: 1.2em;
		margin-right: 5px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
	#header {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#physical-principles {
		font-size: 1.6em;
	}

	#p5-link {
		font-size: 1.6em;
	}

	#content {
		max-width: 65%;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
	#header {
		padding-top: 3em;
		padding-bottom: 2em;
	}

	#physical-principles {
		font-size: 1.6em;
	}

	#p5-link {
		font-size: 1.6em;
	}

	#content {
		max-width: 75%;
	}
}


@media only screen and (min-width : 1024px){
/* Styles */
	#header {
		padding-top: 3em;
		padding-bottom: 2em;
	}

	#physical-principles {
		font-size: 1.6em;
	}

	#p5-link {
		font-size: 1.6em;
	}


	#content {
		width: 900px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
	#header {
		padding-top: 2.5em;
		padding-bottom: 2.5em;
	}

	#physical-principles {
		font-size: 1.6em;
	}

	#in {
		font-size: 1.3em;
		margin-right: 5px;
	}

	#p5-link {
		font-size: 1.6em;
	}

	#content {
		width: 50%;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
	
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
	
}