/* All devices */

html	{
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 100%;
	box-sizing: border-box;
	background-color: #fff;
	font-family:"Times New Roman";
	text-align: center;
}

*,	*:before,	*:after {
	box-sizing: inherit;
}

body	{
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #fff;
	height: 100%;
}

a	{
	text-decoration: none;
	color: #000;
}

#container {
	position:relative; /* needed for footer positioning*/
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
}

#title	{
	margin: 0 auto;
	padding-top: none;
	color: #000;
}

#top-line {
	text-transform: uppercase;
}

.p5-link	{
	color: rgb(240,27,91); /* p5 pink */
	font-family: "Helvetica";
	font-weight: 600;
}

#asterisk{
	/* align star with bottom of line */
	position: absolute;
	font-size: 0.8em;
	 transform:  translate(-0.5px, 60%);
	 -webkit-transform:  translate(-0.5px, 60%);
	 -moz-transform: translate(-0.5px, 60%);
	 -o-transform:  translate(-0.5px, 60%);
	 -ms-transform:  translate(-0.5px, 60%);
}

#content {
	margin: 0 auto;
}

.sketch-link	{
	border-top: 1px solid #222;
	border-right: 1px solid #222;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

#bottom-space {
	position: relative;
	width: 100%;
	min-height: 100px;
}

#footer	{
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer-content	{
	display:inline-block;
}

.footer-link:active{
	text-decoration: underline;
}

.footer-link	{
	width: 20%;
	font-style: italic;
}


/* 	Device-specific	*/


/* Misc small screens 1 */ 
@media only screen and (max-width: 400px) and (max-height: 240px){
	#header {
		line-height: 1em;
	}

	#physical-principles {
		font-size: 0.7em;
	}

	#in{
		font-size: 0.5em;
	}

	.p5-link {
		font-size: 0.7em;
	}
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#header {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	#bottom-space {
		height: 2em;
	}

	#footer {
		padding-bottom: 1.5em;
	}

	#footer-content {
		font-size: 1.3em;
	}
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
	#header {
		padding-top: 2.5em;
		padding-bottom: 1em;
	}

	#content {
		width: 90%;
	}

	#bottom-space {
		height: 2em;
	}

	#footer {
		padding-bottom: 1.5em;
	}
}

/* Smartphones (portrait) */
@media only screen and (max-width : 375px) {
	#header {
		padding-top: 1.5em;
		padding-bottom: 0em;
		width: 48%;
		margin: 0 auto;
	}

	#bottom-space {
		height: 6em;
	}

	#footer {
		padding-bottom: 1.5em;
	}
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#in {
		font-size: 1.2em;
		margin-right: 5px;
	}

	#footer-content {
		font-size: 1.1em;
	}
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#header {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#physical-principles {
		font-size: 1.6em;
	}

	.p5-link {
		font-size: 1.6em;
	}

	#content {
		max-width: 65%;
	}
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#header {
		padding-top: 3em;
		padding-bottom: 2em;
	}

	#physical-principles {
		font-size: 1.6em;
	}

	.p5-link {
		font-size: 1.6em;
	}

	#content {
		max-width: 75%;
	}
}

/* Misc small screens 2	*/
@media only screen and (min-width : 500px){
	#header {
		padding-top: 1em;
		padding-bottom: 0em;
	}

	#physical-principles {
		font-size: 1.2em;
	}

	.p5-link {
		font-size: 1.4em;
	}


	#content {
		width: 75%;
	}
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
	#header {
		padding-top: 2.5em;
		padding-bottom: 2.5em;
	}

	#physical-principles {
		font-size: 1.6em;
	}

	#in {
		font-size: 1.3em;
		margin-right: 5px;
	}

	.p5-link {
		font-size: 1.6em;
	}

	#content {
		width: 70%;
	}

	#footer-content {
		font-size: 1.2em;
	}
}

