body{
	padding-top:1%;
	text-align: center;
	font-family:"Helvetica";
	font-size: 2em;
}

#title{
	width: 40%;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

h2{

	text-decoration:none;
}


ul{

	list-style: none;
	/*margin-right: 50px;*/
	padding: 50px;
	text-transform: uppercase;

}

#phys-demos{
	font-size: 34px;
	text-transform: uppercase;
}

#by{
	font-size: 28px;

}
#p5-link{
	color: #ff0066;
}

#name-link{
	color: #000;
	font-size:24px;
	text-transform: uppercase;
}

#github-link{
	color: #000;
}

.sketch-link{
	font-size: 36px;
}
.sketch-link:hover{
	color: red;
}

footer{
	padding-top: 35%;
}