html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.navbar {
    height: 80px;
}

.form-row {
    margin: 8px;
}

.buttonrow {
    padding: 12px;
    text-align: center;
}

.fieldbuttonrow {
    text-align: center;
}

#display {
    padding: 16px;
}

.btn {
    width: 40%;
}

#tablebody {
    padding: 10px;
}

#assign {
    background-color: #2d096b;
    border-color: #2d096b;
}

#displayTable {
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#footertext {
    text-align: center;
}

#googlelogo {
    display: inline;
    /* the default for span */
    height: 1.3em;
}

#map {
    margin: 0;
    padding: 0;
    height: 300px;
    width: auto;
    overflow: visible;
}