.navbar {
    height: 80px;
}

.form-row {
    margin: 8px;
}

.buttonrow {
    padding: 12px;
    text-align: center;
}

.fieldbuttonrow{
    text-align: center;
}

#display {
    padding: 16px;
}

.btn {
    width: 40%;
}

#tablebody {
    padding: 10px;
}

#assign {
    background-color: #2d096b;
    border-color: #2d096b;
}